postgresql://neondb_owner:npg_7ATSuH5dElxQ@ep-lingering-darkness-atgmpeyr-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=requireDATABASE_SSL=false
API_PORT=3333
CORS_ORIGIN=http://localhost:5173

VITE_DATA_PROVIDER=postgres
VITE_API_URL=http://localhost:3333
